 /*	Basic Rest*/
 * {
	 margin: 0;
	 padding: 0; 
 }
 body {
		font-family: arial, sans-serif;
		background-color: #d3d3d3;
		text-align: center;
 }	
 
 header {
	 background-color: darkgrey;
	 color: white;
	 padding: 15px;
 }
 
 .nav-links {
	 display: flex;
	 list-style: none;
	 justify-content: center;
 }
 
 .nav-links li {
	 padding:15px;
	/*margin: 15px; */
 }
 
 .nav-links a {
	 color: red; 
	 text-decoration: none;
	 font-size: 30px;
 }
 
 .nav-links a:hover {
	 color: pink;
	 font-size: 60px;
 }
 /*.nav-links a:visited{
	 color: blue;
 }*/
 
 .content {
	 display: flex;
	 padding: 15px;
	 background: white;
	 width: 800px;
 }
 
 .box {
	 background-color: red;
	 padding: 20px;
	 width: 200px;
	/* height: 500px;*/
	text-align: center;
 }
  .box2 {
	 background-color: yellow;
	 padding: 20px;
	 width: 200px;
	/* height: 500px;*/
	text-align: center;
 }
  .box3 {
	 background-color: green;
	 padding: 20px;
	 width: 200px;
	/* height: 500px;*/
	text-align: center;
 }
 
 @media (max-width: 760px){
	.nav-links {
		flex-direction: column;
	}
	.content{
		flex-direction: column;
	}
 }
 
 
 